.cabeçalho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background-color: blue;
    color: white;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 60vh;
    background-color: blueviolet;
}

.container .central{
    flex-grow: 5;
}
.container .l-e{
    flex-grow: 1;
    background-color: brown;
}
.container .l-d{
    flex-grow: 1;
    background-color: coral;
}
