.cabeçalho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background-color: blue;
    color: white;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: auto;
    background-color: blueviolet;
    
}

.container .central{
    flex-grow: 5;
}
.container .l-e{
    flex-grow: 1;
    background-color: brown;
    /* background-image: url(/img/banner-lateral-1.png);
    background-size: cover; */
}

.container .l-d{
    flex-grow: 1;
    background-color: coral;
    /* background-image: url(/img/banner-lateral-2.png);
    background-size: cover; */
}
